*{
    margin: 0;
    padding: 0;
}
#red{
    color: red;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.timer{
    font-weight: bold;
    color: red;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    font-size: 40px;
    height: 80px;
    background-color: rgba(170, 152, 130, 0.799);
}
.row{
    width: 800px;
    height: 600px;
}
h1{
    margin-top: 250px;
}